@import url("../../modules/document/document.css");
@import url("../../modules/menu/menu.css");

body {
  background: var(--color-background-gradient);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden auto;
  width: 100vw;
}

@media (min-width: 769px) {
  body {
    grid-template-areas:
      "menu header"
      "menu main"
      "menu footer";
    grid-template-columns: 55px 1fr;
  }
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}