@import url("../../modules/document/document.css");
@import url("../../modules/menu/menu.css");
@import url("css/background.css");
@import url("css/contact.css");
@import url("css/map.css");
@import url("css/from.css");
@import url("css/button.css");

body {
  background: var(--color-background-gradient);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden auto;
  width: 100vw;
}

@media (min-width: 769px) {
  body {
    grid-template-areas:
      "menu header"
      "menu main"
      "menu footer";
    grid-template-columns: 55px 1fr;
  }
}

header {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 35px;
  grid-area: header;
  padding: 40px 10px 10px;
  width: 100%;
  z-index: 1;
}

header img {
  -webkit-filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.3));
  max-width: 600px;
  -o-object-fit: contain;
  object-fit: contain;
  width: inherit;
}

header .typewriter {
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.5em;
  max-width: 80%
}

@media (min-width: 400px) {
  header .typewriter {
    font-size: 1.25em;
  }
}

@media (min-width: 600px) {
  header .typewriter {
    font-size: 1.5em;
  }
}

main {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
  grid-area: main;
  padding: 30px 5px;
  width: 100%;
  z-index: 1;
}

main h2 {
  font-family: 'caesa', sans-serif;
  font-size: 1.2em;
}

@media (min-width: 330px) {
  main {
    padding: 30px 10px;
  }

  main h2 {
    font-size: 1.8em;
  }
}

footer {
  grid-area: footer;
  z-index: 1;
}