#menu-logo {
  display: none;
  grid-area: logo;
  max-height: 70px;
  max-width: 157.3034px;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 10px 0;
  place-self: center;
  width: 90%;
}

@media (min-width: 769px) and (min-height:500px) {
  #menu-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#menu.checked #menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}