#products {
  align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden auto;
  padding: 10px;
  row-gap: 25px;
  width: inherit;
}

#products>li {
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  gap: 20px;
  justify-content: space-between;
  min-height: 250px;
  overflow: hidden;
  padding: 0 0 10px;
  width: 250px;
}

#products>li:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 4px 1px 0.5px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 4px 1px 0.5px rgba(0, 0, 0, 0.1);
  opacity: 1;
  scale: 1.02;
  z-index: 1;
}

#products>li>img {
  aspect-ratio: 2/1;
  border-radius: 3px;
  width: 100%;
}

#products>li span {
  color: var(--c-background);
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
}

#products>li>div {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#products>li>div>button {
  color: var(--c-background);
}

#products>li>div>button:hover {
  scale: 1.05;
}

#products>li:hover>div>button:first-child {
  background-color: rgb(214, 211, 40);
  color: black;
}

#products>li:hover>div>button:last-child {
  background-color: rgb(170, 5, 5);
  color: white;
}