#information {
  grid-area: info;
}

@media(max-width:500px) {
  #information tr {
    grid-template-columns: 100%;
  }
}

@media(max-width:500px) {
  #information td:first-child {
    border-radius: 8px 8px 0px 0px;
  }
}

@media(max-width:500px) {
  #information td:last-child {
    border-radius: 0px 0px 8px 8px;
  }
}