#specifications {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  gap: 30px;
  grid-area: specs;
  justify-content: center;
  width: 100%;
}

#specifications h2 {
  color: var(--color-text);
  font-family: 'Caesa', sans-serif;
  font-weight: 700;
}

@media (min-width: 300px) {
  #specifications h2 {
    font-size: 1.2em;
  }
}

#specifications table {
  max-width: 1000px;
  min-width: 200px;
  width: 100%;
}

@media(max-width:500px) {
  #specifications tr {
    grid-template-columns: 100%;
  }
}

@media(max-width:500px) {
  #specifications td:first-child {
    border-radius: 8px 8px 0px 0px;
  }
}

@media(max-width:500px) {
  #specifications td:last-child {
    border-radius: 0px 0px 8px 8px;
  }
}