#button-send {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

#button-send:enabled:hover {
  transition: all 0.5s ease;
}

#button-send:disabled {
  cursor: default;
  opacity: 0.5;
}

#button-send p {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

#button-send:enabled:hover p {
  animation: move 0.5s linear 0.5s forwards;
  color: var(--color-selected);
  transition: all 0.5s ease;
}

#button-send i {
  color: var(--color-text);
  font-size: 1.5em;
  transition: all 0.5s ease;
}

#button-send:enabled:hover i {
  animation: sending 0.5s linear 0.5s forwards;
  color: var(--color-selected);
  transition: all 0.5s ease;
}

@keyframes sending {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translate(40px, -60px);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-25px);
  }
}