#form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: inherit;
}

#form h2 {
  padding: 0 0 5px;
}

#form form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: inherit;
}

#form label {
  display: grid;
  max-width: 500px;
  min-width: 200px;
  padding: 0 10px;
  width: inherit;
}

#form label>* {
  align-self: self-start;
  grid-area: 1/1;
  justify-self: start;
  padding: 15px;
}

#form label span {
  cursor: text;
  left: 5px;
  position: relative;
  transition: all 0.5s, background-color 0.2s, color 0s;
  z-index: 1;
}

#form label input,
#form label textarea {
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  width: inherit;
}

#form label textarea {
  font-family: inherit;
  min-height: 200px;
  resize: vertical;
}

#form label textarea::-webkit-scrollbar {
  width: 4px;
}

.input-google_style span {
  background-color: var(--color-background);
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 0.7em;
  padding: 2px 5px !important;
  transform: translate(5px, -7px);
}