#map {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: map;
  justify-content: center;
  width: inherit;
}

#map h2 {
  padding-bottom: 20px;
}

#map iframe {
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  width: 90%;
}

@media (min-width: 400px) {
  #map iframe {
    aspect-ratio: 2/1;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    width: 90%;
  }
}

#world_map {
  aspect-ratio: 2/1.8;
  height: inherit;
  max-height: 450px;
  width: inherit;
}

#world_map>* {
  height: 90%;
  width: 90%;
}

#world_map path {
  fill: rgb(153, 153, 153);
}

#world_map path:hover {
  fill: var(--color-selected);
}

#world_map path.MX {
  fill: rgba(0, 104, 71, 1);
}

#world_map path.MX:hover {
  fill: rgba(206, 17, 38, 1);
}