@import url("css/reset.css");
@import url("css/variables.css");
@import url("css/fonts.css");

::-webkit-scrollbar {
  background-color: transparent;
}

@media only screen and (min-width: 426px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  color: inherit;
  user-select: none;
}

html {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  overflow: hidden auto;
  scroll-behavior: smooth;
  text-align: center;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 5px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  touch-action: manipulation;
}

.loadingFile {
  visibility: hidden !important;
}