#search {
  align-items: center;
  display: none;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  max-width: 900px;
  overflow: hidden;
  padding: 20px 0;
  place-self: center;
  width: 80%;
}

@media (min-width: 240px) and (min-height:300px) {
  #search {
    display: flex;
  }
}

#search>* {
  height: 45px;
  padding: 10px 15px;
}

#search>a {
  align-items: center;
  border-bottom: 1px solid var(--color-text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 12px;
}

#search>a:hover {
  background-color: var(--color-selected);
  border: none;
  border-radius: 5px 5px 0 5px;
}

#search>a svg path {
  stroke: var(--color-text);
  stroke-width: 20px;
}

#search>a:hover svg path {
  stroke: var(--color-background);
}

#search>input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-text);
  font-size: 1em;
  outline: none;
  width: 100%;
}

@media (min-width: 426px) {
  #search>input {
    font-size: 1.3em;
  }
}

#search>input::placeholder {
  color: var(--color-text);
  transition: opacity 0.2s ease-in-out;
}

#search>input:focus::placeholder {
  opacity: 0;
}